@use "variables" as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*::before,
*,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul li {
  list-style-type: none;
}

button {
  border: none;
}
