@use "variables" as *;
@use "mixins" as *;

.app-greeting {
  padding: 5rem 1rem;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;

    @include for-laptop-up {
      margin-bottom: 2rem;
      font-size: 3rem;
    }
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    width: 80%;
    margin-inline: auto;

    @include for-laptop-up {
      font-size: 1.125rem;
    }
  }
}

// || Calculator Section
.calculator {
  margin-inline: auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 3rem 3rem 0 0;
  padding: 3rem 1.5rem;
  display: grid;

  @include for-laptop-up {
    width: min(95%, 1000px);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    border-radius: 3rem;
    padding: 4rem 3rem;
  }

  .bill,
  .tip,
  .people {
    margin-bottom: 3rem;
  }

  &__input {
    input {
      background-color: $input-background;
      width: 100%;
      text-align: right;
      padding: 0.75rem 0.5rem;
      font-size: 1.75rem;
      font-weight: 600;
      color: $color-primary;
      border: none;
      border-radius: 0.5rem;

      &::placeholder {
        padding-right: 0.5rem;
        color: $color-primary;
      }
    }
  }

  // || Calculator Input Part
  &__input {
    .bill {
      label {
        position: relative;
      }

      &__currency {
        position: absolute;
        bottom: 0;
        left: 1rem;
        color: $text-color;
        font-size: 1.5rem;
        font-weight: 600;
      }
    }

    // Tip Amount
    .tip {
      &__amount-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 3rem;
        gap: 1rem;

        @include for-tablet-up {
          grid-template-columns: repeat(3, 1fr);
        }

        // Tip amount buttons
        .tip__amount {
          background-color: $color-primary;
          color: #fff;
          font-size: 1.5rem;
          font-weight: 600;
          letter-spacing: 0.5px;
          padding: 0.75rem;
          border-radius: 0.5rem;

          &.active {
            background-color: $color-secondary;
            color: $color-primary;
          }
        }

        input {
          font-size: 1.25rem;
          text-align: center;
        }
      }
    }
  }

  // Number of people input
  .people {
    label {
      position: relative;
    }

    // input
    #people {
      @extend .bill__currency;
    }

    // input icon
    &__icon {
      position: absolute;
      bottom: 0;
      left: 1rem;
    }
  }

  // || Calculator Result Part
  &__result {
    background-color: $color-primary;
    padding: 2rem;
    border-radius: 1rem;
    color: #fff;
    position: relative;

    @include for-laptop-up {
      padding: 4rem 2rem;
    }

    // result group
    .result {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3rem;

      &__label {
        font-size: 1rem;
        letter-spacing: 1px;
        margin-bottom: 0.25rem;

        @include for-laptop-up {
          font-size: 1.5rem;
        }
      }

      .label-exp {
        color: $background;

        @include for-laptop-up {
          font-size: 1.125rem;
        }
      }

      &__text {
        font-size: 2rem;
        font-weight: 600;
        color: $color-secondary;
      }
    }

    .reset {
      width: 100%;
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: $color-secondary;
      text-transform: uppercase;
      font-size: 1.25rem;
      letter-spacing: 1px;
      font-weight: 600;

      @include for-laptop-up {
        position: absolute;
        bottom: 3rem;
        width: 85%;
      }
    }
  }
}
