@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");

body {
  font-family: Rubik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
